.container{
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    height: 45vh;
    border: 2px solid #fff;
    box-shadow: 0px 1px 10px #fff9f9ea;
    /* text-decoration: none; */
    align-items: flex-start;
    transition: all 400ms ease;
    background-image: linear-gradient(0deg, #81afef60, transparent);
}

.container:hover{
    box-shadow: 5px 5px 20px #faf9f9e3;
    transform: translateY(-3%);
}

.card{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img{
    width: 80%;
    height: 80%;
    max-height: 150px;
    min-height: 150px;
}

.text{
    text-align: none;
    text-decoration: none;/* nos elimina la linea debajo del texto*/
    font-size: 150%;
    margin: 10px;
}

.text h3{
    text-align: center;
    font-size: 90%;
    color:#fff
}

.text h6{
    color: #fff;
}